.header
{
    height:100px;
    border-width:1px;
    border-style:solid;
    border-color:grey;
    display:flex;
    flex-direction:row;
    
    background-color: #4834d4;
    background-image: linear-gradient(315deg, #4834d4 0%, #0c0c0c 74%);
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    z-index: 1000;

}


.header-1
{
    width:250px;

}
.logo
{
    height:90px;
    width:250px;
    object-fit:cover;
    object-position:contain;
}
body
{
    margin:0;
    height:800px;
     
}
.header-2
{
    width:1010px;
    
    
}
.first    
{
    background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
   
   margin-top:50px;
   cursor:pointer;
   margin-left:150px;
   padding-top:10px;
   padding-bottom:10px;
   padding-left:10px;
   padding-right:10px;
   font-weight:bold;
   color:black;
   font-family:"Times New Roman",Times,serif;
   font-size:14px;
   vertical-align:top;
   margin-right:50px;
   
}
.first:hover
{
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
    
}
.discover
{
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
    margin-top:50px;
    cursor:pointer;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;
    font-weight:bold;
    color:black;
    font-family:"Times New Roman",Times,serif;
    font-size:14px;
    vertical-align:top;
    margin-right:50px;
}
.discover:hover
{
    background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}
.articles  
{
    background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
   
   margin-top:50px;
   cursor:pointer;
   
   padding-top:10px;
   padding-bottom:10px;
   padding-left:10px;
   padding-right:10px;
   font-weight:bold;
   color:black;
   font-family:"Times New Roman",Times,serif;
   font-size:14px;
   vertical-align:top;
   margin-right:50px;
}
.articles:hover
{
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
    
}

.contactus
{
    background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
    margin-top:50px;
    cursor:pointer;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;
    font-weight:bold;
    color:black;
    font-family:"Times New Roman",Times,serif;
    font-size:14px;
    vertical-align:top;
    margin-right:50px;
}
.contactus:hover
{
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.publications
{
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
    margin-top:50px;
    cursor:pointer;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;
    font-weight:bold;
    color:black;
    font-family:"Times New Roman",Times,serif;
    font-size:14px;
    vertical-align:top;
    margin-right:50px;
}
.publications:hover
{
    background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}

.main
{
    height:700px;
    border-style:solid;
    border-color:gray;
    border-width:1px;
   /* background: linear-gradient(to bottom, #d2ffff, #0694c6);*/
   background-image: url("https://images.pexels.com/photos/2832772/pexels-photo-2832772.jpeg?auto=compress&cs=tinysrgb&w=600"); 
   background-size:cover;
   margin-top:100px;
   display:grid;
   grid-template-columns:1fr 1fr 1fr;
   column-gap:7px;
   row-gap:40px;
}
.F1 
{
    margin-top:20px;
    background-color:black;
    height:250px;
    border-color:red;
    border-style:solid;
    border-width:3px;
    box-shadow:20px,20px,20px,rgba(0,0,0,0.77);
    
}
.picture1
{
    height:170px;
    width:410px;
    object-fit:cover;
    object-position:center;
}
.paragraph_1
{ 
  font-family: 'Courier New', Courier, monospace;
  font-weight:bold;
  text-align:center;
  margin-top:2px;
  font-size:20px;
  color:wheat;
}
.paragraph_2
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight:bold;
  text-align:right;
  margin-top:2px;
  font-size:20px;
  color:deeppink;
}
.paragraph_2:hover
{
    color:#2bb673;
}
.F2
{
    margin-top:20px;
    background-color:black;
    height:250px;
    border-color:red;
    border-style:solid;
    border-width:3px;
    box-shadow:20px,20px,20px,rgba(0,0,0,0.77);
}
.picture2
{
    height:170px;
    width:410px;
    object-fit:cover;
    object-position:center;
    transition: opacity 0.3s ease;
    
}
.picture2:hover {
    opacity:0.5; /* Adjust the opacity value as needed */
}   
  
 
.paragraph_3
{ 
  font-family: 'Courier New', Courier, monospace;
  font-weight:bold;
  text-align:center;
  margin-top:2px;
  font-size:12.5px;
  color:wheat;
}
.paragraph_4
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight:bold;
  text-align:right;
  margin-top:2px;
  font-size:20px;
  color:deeppink;
}
.paragraph_4:hover
{
    color:#2bb673;    
}
.F3
{
    margin-top:20px;
    background-color:black;
    height:250px;
    border-color:red;
    border-style:solid;
    border-width:3px;
    box-shadow:20px,20px,20px,rgba(0,0,0,0.77);
}
.picture3
{
    height:170px;
    width:410px;
  
    
    transition: opacity 0.3s ease;
    
}
.picture3:hover {
    opacity: 0.5; /* Adjust the opacity value as needed */
}   
  
 
.paragraph_5
{ 
  font-family: 'Courier New', Courier, monospace;
  font-weight:bold;
  text-align:center;
  margin-top:2px;
  font-size:20px;
  color:wheat;
}
.paragraph_6
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight:bold;
  text-align:right;
  margin-top:2px;
  font-size:20px;
  color:deeppink;
}
.paragraph_6:hover
{
    color:#2bb673;    
}

.F4
{
    background-color:black;
    height:250px;
    border-color:red;
    border-style:solid;
    border-width:3px;
    box-shadow:20px,20px,20px,rgba(0,0,0,0.77);
}
.picture4
{
    height:170px;
    width:410px;
  
    
    transition: opacity 0.3s ease;
    
}
.picture4:hover {
    opacity: 0.5; /* Adjust the opacity value as needed */
}   
  
 
.paragraph_7
{ 
  font-family: 'Courier New', Courier, monospace;
  font-weight:bold;
  text-align:center;
  margin-top:2px;
  font-size:20px;
  color:wheat;
}
.paragraph_8
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight:bold;
  text-align:right;
  margin-top:2px;
  font-size:20px;
  color:deeppink;
}
.paragraph_8:hover
{
    color:#2bb673;    
}

.F5
{
    background-color:black;
    height:250px;
    border-color:red;
    border-style:solid;
    border-width:3px;
    box-shadow:20px,20px,20px,rgba(0,0,0,0.77);
    
}
.picture5
{
    height:170px;
    width:410px;    
    transition: opacity 0.3s ease;
    
}
.paragraph_9
{ 
  font-family: 'Courier New', Courier, monospace;
  font-weight:bold;
  text-align:center;
  margin-top:2px;
  font-size:15px;
  color:wheat;    
}
.paragraph_10
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight:bold;
  text-align:right;
  margin-top:2px;
  font-size:20px;
  color:deeppink;
}
.paragraph_10:hover
{
    color:#2bb673;    
}
.picture5:hover {
    opacity: 0.5; /* Adjust the opacity value as needed */
}   
.F6
{
    background-color:black;
    height:250px;
    border-color:red;
    border-style:solid;
    border-width:3px;
    box-shadow:20px,20px,20px,rgba(0,0,0,0.77);
    
}
.picture6
{
    height:170px;
    width:410px;    
    transition: opacity 0.3s ease;
    
}
.paragraph_11
{ 
  font-family: 'Courier New', Courier, monospace;
  font-weight:bold;
  text-align:center;
  margin-top:2px;
  font-size:14px;
  color:wheat;    
}
.paragraph_12
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight:bold;
  text-align:right;
  margin-top:2px;
  font-size:20px;
  color:deeppink;
}
.paragraph_12:hover
{
    color:#2bb673;    
}
.picture6:hover{
    opacity: 0.5; /* Adjust the opacity value as needed */
}   

.end
{
    height:200px;
    border-style:solid;
    border-color:gray;
    border-width:1px;
    background-image: linear-gradient(to right, #33001b, #ff0084);
    display:flex;
    flex-direction:row;
}
.end1
{
    width:250px;
}
.logo2
{
    height:200px;
}
.end2
{
    width:300px;
    margin-right:10px;
}
.text1
{
  margin-top:30px;
  color:white;
  font-family: 'Courier New', Courier, monospace; 
  text-align:center;
  font-size:20px;
}

.button-link {
    padding: 10px 20px;
    margin-left:80px;
    margin-top:10px;
    background-color:darkred;
    color: #fff;
    border-style:solid;
    border-width:1.5px;
    border-color:white;
    border-radius: 5px;
    font-weight:bold;
    font-family: 'Courier New', Courier, monospace;
     
    cursor: pointer;
}
.button-link:hover
{
    background-color:Yellow;
    color:green;
    
}

.facebooklogo
{
    
    width:40px;
    height:40px;
    margin-left:90px;
}
.linkedinlogo
{
    
    width:40px;
    height:40px;
    margin-left:10px;
}


.end-3 {
         /* Set background color */
         /* Add padding */
        width:600px;
        height:200px;
    }

    .end-3 button
     {
        margin-left:50px;
        margin-top:30px;
        border: none; /* Remove border */
        background-color: inherit; /* Inherit background color */
         /* Add underline */
        font-family: 'Courier New', Courier, monospace;
        color: aqua; /* Set text color */
        margin-right: 30px; /* Add spacing between buttons */
        font-size:20px;
        line-height:24px;
        font-weight:bold;
    }
    .end-3 button:hover
    {
        text-decoration: underline;
    }



